
@CHARSET "UTF-8";

#wrapper{
	width:1000px;
	margin:auto;
	font-family:"Helvetica Neue", Arial,Helvetica,sans-serif;
}
.navigation{
	height:100px;
}
#nav-text-name{
	text-align:center;
	color:lightseagreen;
	font-size:24pt;
	font-family:"Helvetica Neue", Arial,Helvetica,sans-serif;
}

#main-pannel{
	width:200px;
	height:200px;
	margin:auto;
	padding:10px;
	border-style:solid;
	border-width:medium;
	
}

.tabletictac{
	width: 100%;
	height:100%
}
#reset{
	width:100%;
	height: 100%;
	font-size:15pt;
}
